<%= div_for comment do %>

  <div class="gravatar_comentaris">
    <%= raw gravatar(comment.email, :size => 60, :default => 'mm')%>
  </div>
  <span class="comment-by">
    <strong><%= comment.name %></strong>
    <em><%= comment.created_at.strftime('el dia %d/%m/%Y a les %H:%M')%></em>
    ha escrit:
  </span>

  <%= content_tag(:div, format_comment(comment.content), :class => "comment-body") %>

  <% if logged_in? %>
    <%= link_to 'esborra',comment, :method => :delete, :class => "delete", :remote => true  %>
  <% end %>

<% end %>
