<div id="comment<%= comment.id %>">
<span style="float:right;"><%= link_to 'esborra',comment_path(comment), :method => :delete, :class => "delete", :remote => true  %></span>

<p><b><%= comment.name %></b> el dia <%= comment.created_at.strftime('%d/%m/%Y')%> a les <%= comment.created_at.strftime('%H:%M') %> ha escrit:</p>

<%=  content_tag(:p, comment.content) %>

<hr />
</div>

