<%= div_for comment do %>
  <span style="float:right;"><%= link_to 'esborra',comment_path(comment), :method => :delete, :class => "delete", :remote => true  %></span>

  <p><b><%= comment.name %></b> <%= comment.created_at.strftime('el dia %d/%m/%Y a les %H:%M')%> ha escrit:</p>

  <%=  content_tag(:p, comment.content) %>
<% end %>
