<% form_for Comment.new(:commentable => commentable), :remote => true do |f| %>
  <%= f.hidden_field :commentable_id %>
  <%= f.hidden_field :commentable_type %>
  <%= f.label :name, "Nom" %>
  <%= f.text_field :name %>
  <%= f.label :email, "Email" %>
  <%= f.text_field :email %><br /><br />
  <%= f.label :content, "Comentari" %>
  <a href="#comment-markdown-help" rel="facebox" class="comments-format-howto">Com donar format al comentari</a>
  <br />
  <%= f.text_area :content %><br />
  <%= f.submit "Afegeix comentari" %>
<% end %>

<%= render 'shared/formatting' %>
