<div id="sidebar" class="column grid_3">
	<div id="logos" class="centrat">
		<p>
		<%= link_to "http://feeds.feedburner.com/semanticpodcast", :title => "Et caldrà un agregador de feeds per subscriure't al nostre Canal RSS." do %>
			<%= image_tag("rss.png") %>
		<% end %>
		<%= link_to 'http://itunes.apple.com/podcast/id374246709', :title => "Subscriu-te mitjançant el programa iTunes.", :class => "logos" do %>		
			<%= image_tag("itunes.png") %>
		<% end %>
		<%= link_to 'http://twitter.com/semanticpodcast', :title => "Segueix el nostre compte de Twitter", :class => "logos" do %>		
			<%= image_tag("twitter.png") %>
		<% end %>
		</p>
	</div>

	<hr>
	<p class="aboutbutton"><%= link_to "Què és Semàntic", about_path %></p>
	<hr>
	<p class="aboutbutton"><%= link_to "Membres Semàntic", membres_path %></p>
  <hr>
	<h1>Últims Episodis</h1>
	<ul>
	<% Episode.find(:all, :order => 'number desc', :limit => 5).each do |episode| %>
	 <li class="podcast"><%= link_to "Podcast #" + episode.number.to_s, episode %></li>
	<% end  %>
  </ul>
	<br />
	<!-- <h1>Sponsors</h1>
	<ul>
		<label for="link1"><li><a id="link1" href="http://www.jrdv.cat">JRDV</a></li></label>
		<label for="link2"><li><a id="link2" href="http://www.itnig.net">Grup Itnig</a></li></label>
	</ul> -->
	<hr>
	<h1>Screencasts</h1>
	<ul>
	<% Screencast.find(:all, :order => 'published_at desc', :limit => 5).each do |screencast| %>
	 <li class="screencast"><%= link_to screencast.ref, screencast %></li>
	<% end  %>
  </ul>
</div>

	<div id="tooltip">&nbsp;</div> 
	