<div id="sidebar" class="column grid_3">
	<span id="logos" class="centrat">
		<p>
		<%= link_to "http://feeds.feedburner.com/semanticpodcast", :title => "Et caldrà un agregador de feeds per subscriure't al nostre Canal RSS." do %>
			<%= image_tag("rss.png") %>
		<% end %>
		<%= link_to 'http://itunes.apple.com/podcast/id374246709', :title => "Subscriu-te mitjançant el programa iTunes.", :class => "logos" do %>		
			<%= image_tag("itunes.png") %>
		<% end %>
		<%= link_to 'http://twitter.com/semanticpodcast', :title => "Segueix la nostra compta de Twitter", :class => "logos" do %>		
			<%= image_tag("twitter.png") %>
		<% end %>
		</p>
	</span>

	<hr>
	<p style="font-size: 16px;margin-left: 10px;"><%= link_to "Què és Semàntic", about_path %></p>





	<hr>

		<h1>Participants</h1>
	<ul>
		<label for="bernatlink">
			<a id="bernatlink" href="/bernat">
			<li class="centrat">
				<%= raw gravatar("dberni@gmail.com", :size => 65) %><br />
				Bernat Farrero
			</li></a>
		</label>
		<label for="jordilink">
			<a id="jordilink" href="/jordi">
			<li class="centrat">
				<%= raw gravatar("jordi@jrom.net", :size => 65) %><br />
				Jordi Romero
			</li></a>
		</label>
		<label for="masumilink">
			<a id="masumilink" href="/masumi">
			<li class="centrat">
				<%= raw gravatar("mutsuda@gmail.com", :size => 65) %><br />
				Masumi Mutsuda
			</li></a>
		</label>			
	</ul>
	<!-- <p class="centrat"><a href="/altres"><i>(Altres)</i></a></p> -->
	<br />
	<!-- <h1>Sponsors</h1>
	<ul>
		<label for="link1"><li><a id="link1" href="http://www.jrdv.cat">JRDV</a></li></label>
		<label for="link2"><li><a id="link2" href="http://www.itnig.net">Grup Itnig</a></li></label>
	</ul> -->
</div>

	<div id="tooltip">&nbsp;</div> 
	