<%= div_for episode, :class => cycle('senar', 'parell') do %>
  <p class="data">	
		<%=pretty_date episode.aired_on %>
  </p>
  <h3><%= link_to "\##{episode.id} #{episode.title}", episode %></h3>
	<br />
  <p><%= raw markdown(episode.description) %></p>
  <% if list %>
  <p>
    <%= link_to "Notes de l'episodi", episode if episode.notes %>
    | <%= link_to "#{pluralize(episode.comments.count, "Comentari")}", episode %>
  </p>
  <% else %>
    <% unless episode.notes.empty? %>
      <h4>Notes de l'episodi</h4>
      <%= raw markdown(episode.notes) %>
    <% end %>
  <% end %>
<% end %>
