<div class="page">
<% form_for(@episode) do |f| %>
  <%= f.error_messages %>

<div class="row">
	<div class="column grid_5">
  	<div class="field">
    	<%= f.label :title, "Títol" %><br />
    	<%= f.text_field :title %>
  	</div>
  	<div class="field">
    	<%= f.label :permalink, "Link permanent" %><br />
    	<%= f.text_field :permalink %>
  	</div>
	</div>


	<div class="column grid_4">
		<div class="field">
    	<%= f.label :aired_on, "Emès el" %><br />
    	<%= f.date_select :aired_on %>
  	</div>
  	<div class="field">
    	<%= f.label :published, "Publicat" %><br />
    	<%= f.check_box :published %>
  	</div>
	</div>
</div>

  <div class="field">
    <%= f.label :description, "Descripció" %><br />
    <%= f.text_area :description, :cols => 130 %>
  </div>
  <div class="field">
    <%= f.label :notes, "Show notes" %><br />
    <%= f.text_area :notes, :cols => 130 %>
  </div>

  <div class="actions grid_12">
    <%= f.submit %>
  </div>
<% end %>
</div>
