<div id="episodes">
  <% @episodes.each do |episode| %>
    <% div_for(episode) do %>
      <h3><%= link_to "#{episode.aired_on} #{episode.title}", episode %></h3>
      <p><%= episode.description %></p>
      <p><%= episode.notes %></p>
      <%= link_to 'Edit', edit_episode_path(episode) %>
      | <%= link_to 'Destroy', episode, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  <% end %>

</div>

<% content_for :admin do %>
  Admin: <%= link_to 'New episode', new_episode_path %>
<% end -%>
