
<div class="row">
	<div class="column grid_12">
		<p>Aquests són els últims programes emesos:</p>
	</div>
</div>

<div id="episodes">
  <% @episodes.each do |episode| %>
    <% div_for(episode, :class => cycle('senar', 'parell')) do %>
			<p class="data">Fa <%=time_ago_in_words(episode.aired_on)%></p>
      <h3><%= link_to "#{episode.title}", episode %></h3>
      <p><%= episode.description %></p>
      <p><%= episode.notes %></p>
      <%= link_to 'Edit', edit_episode_path(episode) %>
      | <%= link_to 'Destroy', episode, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  <% end %>

</div>

<% content_for :admin do %>
  Admin: <%= link_to 'New episode', new_episode_path %>
<% end -%>
