<%= title @episode.title %>

<%= render :partial => @episode, :locals => { :list => false } %>


<div id="comments">
  <span id="comments_count"><%= pluralize(@episode.comments.count, "Comentari") %></span>
  <%= render @episode.comments %>
</div>

<div id="comment-notice"></div>



<div id="triangle"></div>
<a name="comentaris" id="comment_now" href="#comentaris">Vull comentar!</a>
<div id="form_comentaris">
  <span style="float:right;"><a id="tanca" href="#comentaris">tanca</a></span>

  <h2>Digues-hi la teva!</h2>
  <%= render :partial => 'comments/form', :locals => { :episode => @episode, :screencast => nil } %>
</div>


<%= content_for :admin do %>
<%= link_to 'Modifica episodi', edit_episode_path(@episode) %>
| <%= link_to 'Elimina', @episode, :confirm => 'Segur?', :method => :delete %>
<% end %>


<%= content_for :javascripts do %>
<%= javascript_include_tag "swfobject" %>
<%= javascript_include_tag "audio-player" %>
<script type="text/javascript">
$(document).ready(function() {
  AudioPlayer.setup("/misc/player.swf", {width: 300});
});
</script>
<% end %>
