<div class="episode senar">
<p class="data">
  Emès el dia
  <%= @episode.aired_on.strftime('%d/%m/%Y') %>
</p>

<h1>
  <%= @episode.title %>
</h1>

<br />

<%= @episode.description %>

<p> <b>Notes de l'episodi:</b></p>
  <%= @episode.notes if !@episode.notes.blank? %>

<br /><br />
<span style="float:right;">
	<%= link_to 'Modifica', edit_episode_path(@episode) %> |
	<%= link_to 'Enrere', episodes_path %>
</span>
</div>