<%= render :partial => @episode, :locals => { :list => false } %>

<div id="comments">
  <span id="comments_count"><%= pluralize(@episode.comments.count, "Comentari") %></span>
  <%= render @episode.comments %>
</div>

<div id="comment-notice"></div>

<h2>Digues-hi la teva!</h2>
<% form_for Comment.new(:episode => @episode), :remote => true do |f| %>
	<%= f.hidden_field :episode_id %>
	<%= f.label :name, "Nom" %><br />
	<%= f.text_field :name %><br />
	<%= f.label :email, "Email" %><br />
	<%= f.text_field :email %><br />
	<%= f.label :content, "Comentari" %><br />
	<%= f.text_area :content %><br />
	<%= f.submit "Afegeix comentari" %>
<% end %>

<span style="float:right;">
	<%= link_to 'Modifica episodi', edit_episode_path(@episode) %> |
	<%= link_to 'Enrere', episodes_path %>
</span>
</div>

<%= content_for :admin do %>
  <%= link_to 'Modifica episodi', edit_episode_path(@episode) %>
  | <%= link_to 'Elimina', @episode, :confirm => 'Segur?', :method => :delete %>
<% end %>
