<% title "Membres Semàntic" %>
<h1>Membres Semàntic</h1>
<div class="episode parell">
	<div class="row">
			<div class="barracontacte column grid_3">
					<%= raw gravatar("bernat@semantic.cat", :size => 125) %>
			</div>
	  <div class="column grid_9">
			<%= render :partial => "bernat" %>
		</div>		
	</div>
</div>

<div class="episode senar">
	<div class="row">
			<div class="barracontacte column grid_3">
					<%= raw gravatar("jordi@jrom.net", :size => 125) %>
			</div>
	  <div class="column grid_9">
			<%= render :partial => "jordi" %>
		</div>		
	</div>
</div>

<div class="episode parell">
	<div class="row">
			<div class="barracontacte column grid_3">
					<%= raw gravatar("mutsuda@gmail.com", :size => 125) %>
			</div>
	  <div class="column grid_9">
			<%= render :partial => "masumi" %>
		</div>		
	</div>
</div>

<h1>Convidats Semàntic</h1>

<div id="senar" class="episode senar">
	<div class="row">
		<p><strong>Pablo Villalba</strong>: Enginyer aeronàutic, emprenedor espanyol i fundador de Teambox, empresa que ofereix servei de subscripció a una aplicació web de gestió de projectes i col·laboració d'equips.</p>
		<p>Participació en: <a href="/11-pablo-villalba-teambox" title="Capítol #11 Pablo Villalba, CEO de Teambox">#11</a></p>
    <!-- <hr>  -->
		
	</div>
</div>