<% title "Membres Semàntic i participants: Bernat Farrero, Jordi Romero i Masumi Mutsuda" %>

<h1>Membres Semàntic</h1>
<div class="episode parell">
  <div class="row">
    <div class="barracontacte column grid_3">
      <%= raw gravatar("bernat@semantic.cat", :size => 125) %>
    </div>
    <div class="column grid_9">
      <%= render :partial => "bernat" %>
    </div>
  </div>
</div>

<div class="episode senar">
  <div class="row">
    <div class="barracontacte column grid_3">
      <%= raw gravatar("jordi@jrom.net", :size => 125) %>
    </div>
    <div class="column grid_9">
      <%= render :partial => "jordi" %>
    </div>
  </div>
</div>

<div class="episode parell">
  <div class="row">
    <div class="barracontacte column grid_3">
      <%= raw gravatar("mutsuda@gmail.com", :size => 125) %>
    </div>
    <div class="column grid_9">
      <%= render :partial => "masumi" %>
    </div>
  </div>
</div>

<h1>Convidats Semàntic</h1>

<div id="senar" class="episode senar">
  <div class="row">
    <p><strong>Pablo Villalba</strong>: Enginyer aeronàutic, emprenedor d'Albacete i fundador de <a title="Collaboration just got better" href="http://www.teambox.com">Teambox</a>, empresa que ofereix servei de subscripció a una innovadora aplicació de gestió de projectes i col·laboració d'equips.</p>
    <p>Participació en: <a href="/episodes/11-pablo-villalba-teambox" title="Capítol #11 Pablo Villalba, CEO de Teambox">#11</a>, <a href="/episodes/22-especial-mobile-world-congress-i-yahoo-hacku">#22</a>, <a title="Capítol #23 Taula Rodona amb Raúl Murciano i Francesc Esplugues" href="http://semantic.cat/episodes/23-taula-rodona-amb-raul-murciano-i-francesc-esplugues">#23</a></p>
    <hr />
    <p><strong>Pere Joan Martorell</strong>: Percusionista i estudiant d'últim any d'enginyeria informàtica a la Facultat d'Informàtica de Barcelona. És l'autèntic creador del DIEC amb la seva aportació de noves paraules i la seva programació de l'extensió de diccionari per defecte de Firefox. També és un actiu membre polític.</p>
    <p>Participació en: <a href="/episodes/18-serveis-minims-Pere-Joan-Maps-Assange-Neo4j" title="Capítol #18 Serveis Mínims, Pere Joan, Maps Assange i Neo4j">#18</a>, <a title="Capítol #25 Hitchlog i el fantàstic món del SEO" href="http://semantic.cat/episodes/25-hitchlog-i-el-fantastic-mon-del-seo">#25</a></p>
    <hr />
    <p><strong>Pol Badal</strong>: Enginyer de telecomunicacions per la universitat Ramón Llull. Actualment treballa a una consultoria de telecomunicacions i és el responsable del desplegament de Barcelona Wifi.</p>
    <p>Participació en: <a href="/episodes/19-wikileaks-pol-badal-bcn-wifi-i-ultims-hits-de-Amazon" title="Capítol #19 Wikileaks, Pol Badal de BCN-WIFI i els últims hits d'Amazon">#19</a></p>
    <hr />
    <p><strong>Roger Campos</strong>: Enginyer Informàtic. Director tecnològic de <a title="Itnig Serveis Web" href="http://itnig.net">Itnig</a>. Autèntic linuxer, de petit ja feia videojocs, té un peu a Anglaterra i un altre a Catalunya i li apassiona remenar tecnologies.</p>
    <p>Participació en: <a href="/episodes/20-especial-visita-a-les-seus-de-teambox-i-itnig" title="Capítol Especial: Visita a les seus de Teambox i Itnig">#20</a></p>
    <hr />
    <p><strong>Dulce De Rosa</strong>: Dissenyadora a <a title="Itnig Serveis Web" href="http://itnig.net" title="Itnig Serveis Web">Itnig</a>. Amant de Ilustrator, Photoshop, Flash i totes aquelles eines que li permeten evitar la pantalla negra de la terminal. Justament el contrari del que es veu oblidaga da fer a Itnig (malgrat admet començar a trobar-li el gustet).</p>
    <p>Participació en: <a href="/episodes/20-especial-visita-a-les-seus-de-teambox-i-itnig" title="Capítol Especial: Visita a les seus de Teambox i Itnig">#20</a></p>
    <hr />
    <p><strong>Saimon Moore</strong>: Doctor en química orgànica. Desenvolupador a <a title="Collaboration just got better" href="http://www.teambox.com">Teambox</a>. És mig xiprenc, escocès i català, ha treballat els últims anys creant aplicacions web, especialista en Rails i orgullós usuari de VIM.</p>
    <p>Participació en: <a href="/episodes/20-especial-visita-a-les-seus-de-teambox-i-itnig" title="Capítol Especial: Visita a les seus de Teambox i Itnig">#20</a></p>
    <hr />
    <p><strong>Arol Viñolas</strong>: Estudiant d'últim any d'enginyeria informàtica a la Facultat d'Informàtica de Barcelona. Treballa creant aplicacions web a <a href="http://www.codilink.com/">Codilink</a>. És un dels creadors d'iFollon, l'aplicació de frases de l'APM.</p>
    <p>Participació en: <a href="http://semantic.cat/episodes/21-entrevistem-un-dels-creadors-de-ifollon-en-plena-apagada-de-egipte">#21</a></p>
    <hr />
    <p><strong>Raúl Murciano</strong>: Desenvolupador d'aplicacions web, principalment en Ruby i Rails. Actualment treballa a Heroku, la plataforma més coneguda per aplicacions Ruby. També participa juntament amb Marcelino Llano a <a title="Rails Hispano" href="http://railshispano.es/">Rails Hispano</a>, el podcast de Ruby i Rails en castellà.</p>
    <p>Participació en: <a title="Capítol #23 Taula Rodona amb Raúl Murciano i Francesc Esplugues" href="http://semantic.cat/episodes/23-taula-rodona-amb-raul-murciano-i-francesc-esplugues">#23</a></p>
    <hr />
    <p><strong>Francesc Esplugues</strong>: Desenvolupador d'aplicacions web principalment en Ruby i Rails. Creador del famós Typus, engine que ofereix un panell d'administració per modificar el contingut estructurat en aplicacions Rails.</p>
    <p>Participació en: <a title="Capítol #23 Taula Rodona amb Raúl Murciano i Francesc Esplugues" href="http://semantic.cat/episodes/23-taula-rodona-amb-raul-murciano-i-francesc-esplugues">#23</a></p>
    <hr />
    <p><strong>Florian Vallen</strong>: Desenvolupador d'aplicacions web principalment en Ruby i Rails originari de Düsseldorf, Alemània. Fundador de <a href="http://hitchlog.com">Hitchlog</a>, xarxa social per autoestopistes. Practicant de BDD per Javascript.</p>
    <p>Participació en: <a title="Capítol #25 Hitchlog i el fantàstic món del SEO" href="http://semantic.cat/episodes/25-hitchlog-i-el-fantastic-mon-del-seo">#25</a></p>
    <hr />
    <p><strong>Sergi Sans</strong>: Director comercial de <a title="Itnig Serveis Web" href="http://itnig.net" title="Itnig Serveis Web">Itnig</a> i expert en SEO i Marketing online. És el responsable de l'èxit de posicionament dels grans projectes de Itnig.</p>
    <p>Participació en: <a title="Capítol #25 Hitchlog i el fantàstic món del SEO" href="http://semantic.cat/episodes/25-hitchlog-i-el-fantastic-mon-del-seo">#25</a></p>
    <hr />
    <p><strong>Albert Bellonch</strong>: Enginyer informàtic de <a title="Itnig Serveis Web" href="http://itnig.net" title="Itnig Serveis Web">Itnig</a> i desenvolupador de Ruby on Rails. Culer, serie-addicte i amb habilitats ninjes de remenar el codi. </p>
    <p>Participació en: <a title="Capítol #26 En directe amb San Francisco" href="http://semantic.cat/episodes/26-en-directe-amb-san-francisco">#26</a></p>
  </div>
</div>
