<% title @screencast.title %>

<%= render :partial => @screencast, :locals => { :list => false } %>


<div id="comments">
  <span id="comments_count"><%= pluralize(@screencast.comments.count, "Comentari") %></span>
  <%= render @screencast.comments %>
</div>

<div id="comment-notice"></div>



<div id="triangle"></div>
<a name="comentaris" id="comment_now" href="#comentaris">Vull comentar!</a>
<div id="form_comentaris">
  <span style="float:right;"><a id="tanca" href="#comentaris">tanca</a></span>

  <h2>Digues-hi la teva!</h2>
  <%= render :partial => 'comments/form', :locals => { :screencast => @screencast, :episode => nil } %>
</div>


<%= content_for :admin do %>
<%= link_to 'Modifica episodi', edit_screencast_path(@screencast) %>
| <%= link_to 'Elimina', @screencast, :confirm => 'Segur?', :method => :delete %>
<% end %>


