<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @screencast.title %>
</p>

<p>
  <b>Permalink:</b>
  <%= @screencast.permalink %>
</p>

<p>
  <b>Description:</b>
  <%= @screencast.description %>
</p>

<p>
  <b>Published at:</b>
  <%= @screencast.published_at %>
</p>

<p>
  <b>Asset file name:</b>
  <%= @screencast.asset_file_name %>
</p>

<p>
  <b>Asset content type:</b>
  <%= @screencast.asset_content_type %>
</p>

<p>
  <b>Asset file size:</b>
  <%= @screencast.asset_file_size %>
</p>

<p>
  <b>Asset updated at:</b>
  <%= @screencast.asset_updated_at %>
</p>


<%= link_to 'Edit', edit_screencast_path(@screencast) %> |
<%= link_to 'Back', screencasts_path %>
