<!DOCTYPE html>
<html>
<head>
  <title>semàntic podcast</title>
  <%= stylesheet_link_tag 'application', 'grid' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="row">
    <div id="header" class="column grid_8">
      <h1><%= link_to "semàntic", root_path %></h1>
      <h2><%= link_to "podcast", root_path %></h2>
    </div>
    <div id="admin" class="column grid_4">
      <%= yield :admin %>
    </div>
  </div>

  <div class="row">
    <div class="column grid_12">
      <p class="notice"><%= notice %></p>
      <%= yield %>
    </div>
  </div>


</body>
</html>
