<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Semàntic Podcast | <%= yield :title %></title>
  <meta http-equiv="Content-Language" content="ca" />
  <meta name="keywords" content="Podcast, català, informàtica, tecnologia, noves tecnologies, enginyers informàtics, jordi romero, masumi mutsuda, bernat farrero, it, ruby on rails, aplicacions web, xarxes socials, noves empreses" />
  <meta name="description" content="Podcast en català d'informàtica i noves tecnologies portat per enginyers informàtics." />
  <meta name="generator" content="Semàntic" />
  <meta name="origen" content="Semàntic" />
  <meta name="author" content="Semàntic" />
  <meta name="locality" content="Barcelona, Catalunya" />
  <meta name="language" content="ca" />
  <meta name="robots" content="index, follow" />

  <%= stylesheet_link_tag 'application', 'grid', 'facebox' %>

  <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAOSd9q8g3QaAV3PdMj3ACmxSVPp4G-3frd04r8X0-CG9XMW4GCBSCotAS8JCleNkYzzzxgJh4pnYZKg"></script>
  <script type="text/javascript">
      google.load("jquery", "1.4.2");
      google.load("feeds", "1");
  </script>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>   
  <%= javascript_include_tag	"http://cdn.jquerytools.org/1.1.2/tiny/jquery.tools.min.js" %>
  <%= javascript_include_tag "jquery-rails" %>
  <%= javascript_include_tag "efectes" %>
  <%= javascript_include_tag "facebox" %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox() 
    })
  </script>
  <%= yield :javascripts %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="preheader">
    <div class="row">
      <div id="uppermenu">
        <ul>
          <li><a href="/" title="Índex del podcast">Podcast</a></li>
          <li><a href="/screencasts" title="Universitat Semàntic">Universitat Semàntic</a></li>
          <li><a href="/que-es-semantic" title="Sobre nosaltres">Què és Semàntic</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="header" class="column grid_16">
      <h1>
        <%= link_to "semàntic", root_path %><span><%= link_to "podcast", root_path %></span>
      </h1>
    </div>
  </div>

  <%= render "shared/presentationbox" %>

  <div id="main" class="row">
    <div class="column grid_13">
      <p class="notice"><%= notice %></p>
      <% if logged_in? %>
      <div id="admin">
        <%= yield :admin %>
      </div>
      <% end %>
      <div id="episodes">
        <%= yield %>
      </div>
    </div>

    <%= render "shared/sidebar" %>

  </div>

  <div id="footer">
    <div id="more">
      <div class="row" id="contact">
        <div class="column grid_7">
          <h1>Volem sentir el teu parer!</h1>
          <p>
            Ens pots trobar a l'adreça <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#112;&#111;&#100;&#99;&#97;&#115;&#116;&#64;&#115;&#101;&#109;&#97;&#110;&#116;&#105;&#99;&#46;&#99;&#97;&#116;" title="Email de contacte de Semantic Podcast">&#112;&#111;&#100;&#99;&#97;&#115;&#116;&#64;&#115;&#101;&#109;&#97;&#110;&#116;&#105;&#99;&#46;&#99;&#97;&#116;</a>
          </p>
        </div>
        <div class="column grid_3">
           <img src="/images/ocelltwitter.png" alt="twitter bird"/>
          
        </div>
        <div id="twitterfeed" class="column grid_5">
          
          <div id="feeds"></div>
       
        </div>
      </div>
    </div>
    <div id="credits">
      <p>
        &copy; Semantic Podcast 2010 <%= (" - " + Time.now.year.to_s) if Time.now.year > 2010 %>. Tots els drets reservats.
      </p>
    </div>
  </div>

  <%= render "shared/analytics" %>
</body>
</html>
